video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  position: relative;
  top: 43px;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
body{
  background-color: #FFF1E6;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}



/* ACTUAL CODE */
/*Home Intro*/
.hptext {
  color: #04102e;
  padding: 10px;
  text-align: center;
  position: static;
}

.intro {
  font-size: 45px;
  text-align: center;
  padding: 40px;
}
#intro {
  font-size: 45px;
  text-align: center;
}
.des{
  text-align: center;
  padding: 20px;
  bottom: 20px;
}

#Description {
  padding: 20px;
  font-size: 15px;
  color: #04102e;
  line-height: 150%;
}

.topnav {
  position: sticky;
  border: 1px solid #ccc;
  border-width: 1px;
  text-align: right;
  list-style: none;
  padding: 10px;
  font-size: 10px;
  list-style-type: none;
  overflow: hidden;
  background-color: white;
}

li {
  display: inline;
  padding: 15px;
}

li a {
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 10px;
  background-color: #e1e6f2;
  font-size: 1.3em;
}

li a:hover {
  background-color: grey;
}

/*Home intro table*/

.intro-table{
  position: relative;
  margin: auto;
  border-collapse: separate;
  border-spacing: 50px 0;
  background-color: white;
  padding: 150px;
  
}
.tabs{
  position: relative;
  top: 20px;
}
.boxes{
  display: inline;

}
.box1{
  width: 250px;
  height: 300px;
  padding: 20px;
  color: black;
  text-align: center;
  /*border: 5px solid gray;
  border-style: double;*/
  margin-left: 200px;
  margin-top:30px;
  margin-bottem:30px;
  box-shadow: 0 15px 10px #777;
  background-color: #EDDCD2;
  
}

  
.box2 {
  width: 250px;
  height: 300px;
  padding: 20px;
  color: black;
  text-align: center;
  /*border: 5px solid gray;
  border-style: double;*/
  margin-left: 200px;
  margin-top:30px;
  margin-bottem:30px;
  box-shadow: 0 15px 10px #777;
  background-color: #EDDCD2;
}

.box3 {
  width: 250px;
  height: 300px;
  padding: 20px;
  color: black;
  text-align: center;
  /*border: 5px solid gray;
  border-style: double;*/
  margin-left: 200px;
  margin-top:30px;
  margin-bottem:30px;
  box-shadow: 0 15px 10px #777;
  background-color: #EDDCD2;
}

/*Book Table*/

.book-table{
  position: relative;
  margin: auto;
  border-collapse: separate;
  border-spacing: 50px 0;
  top: 30px;
  background-color: white;
  padding: 150px;
}

#bvl{ 
  float: left;//
  width: 0px;
  /*margin: 50px;*/
  border-color: #DDBEA9;
  border-width: 4px;
  border-style: solid;
  border-radius: 20px;
  position: relative;
  bottom: 40px;
}
/*movie tble*/
.movie-table{
  position: relative;
  margin: auto;
  border-collapse: separate;
  border-spacing: 50px 0;
  top: 30px;
  background-color: white;
  padding: 150px;
}

.quizzes{
  display: inline;

}

.Bookquiz{

  padding: 20px;
  color: black;
  text-align: center;
  /*border: 5px solid gray;
  border-style: double;*/
  margin-left: 100px;
  margin-top:30px;
  margin-bottem:30px;
  margin-right: 100px;
  box-shadow: 0 15px 10px #777;
  background-color: #EDDCD2;
  
}

  
.Moviequiz {
 padding: 20px;
  color: black;
  text-align: center;
  /*border: 5px solid gray;
  border-style: double;*/
  margin-left: 100px;
  margin-top:30px;
  margin-bottem:30px;
  margin-right: 100px;
  box-shadow: 0 15px 10px #777;
  background-color: #EDDCD2;
}

.Moviereviews {
  padding: 20px;
  color: black;
  text-align: center;
  /*border: 5px solid gray;
  border-style: double;*/
  margin-left: 100px;
  margin-top:30px;
  margin-bottem:30px;
  margin-right: 100px;
  box-shadow: 0 15px 10px #777;
  background-color: #EDDCD2;
  
}

.quizdes {
  font-size: 20px;
  padding: 10px;
  margin-top: 50px;
  margin-left: 80px;
  font-weight: bold;
}
